.form {
   width: 100%;
   
  }
  
  .form input {
    box-shadow: 0 0 10px 0 rgba(237, 221, 221, 0.3);
    background-color: white;
  }
 
  .form button {
    appearance: none;
    border-radius: 20%;
    box-shadow: 0 0 10px 0 rgba(237, 221, 221, 0.3);
    outline: 0;
    background-color:white;
    border: 0;
    padding: 10px 15px;
    color: #6e304b;
    border-radius: 3px;
    font-size: 18px;
    font-family:  'Righteous', sans-serif;
  }
  .mui-button:hover{
    background-color: aliceblue !important;
  }
  .form{
    place-items: center;
  }